.root{
	 -fx-background-color: #354653;
}
.root .label {
   -fx-text-fill: white;
   -fx-font-family: "Trebuchet MS";
}
.root .button {
   -fx-background-color: salmon;
   -fx-text-fill: black;

}


